.about {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 90vw;
    padding: 110px 1.8em;
}

.heading > h1 {
    font-size: 35px;
}

.our {
    color: #666;
}

.team {
    color: #DA251C;
}

.card-container {
     /* border: 1px solid red; */
     margin-top: 100px;
     display: flex;
     flex-direction: column;
     gap: 100px;
}

.lead {
    /* border: 1px solid black; */
    border-radius: 0.5rem;
    overflow: hidden;
}

.red {
    background-color: #DA251C;
}

.black {
    background-color: #000;
}

.red,
.black {
    text-align: center;
    color: white;
    font-size: 10px;
    /* border: 1px solid red; */
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    line-height: 1.6;
}

.red > h3,
.black > h3 {
    color: lightgray;
    font-size: 17px;
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .about {
        width: 73.5vw;
    }
}