.about {
    /* border: 1px solid black; */
    margin: 0 auto;
    width: 90vw;
    padding: 110px 1.8em;
}

.heading > h1 {
    font-size: 35px;
}

.our {
    color: #666;
}

.team {
    color: #DA251C;
}

.card-container {
    /* border: 1px solid red; */
}

@media screen and (min-width: 1200px) {
    .about {
        width: 73.5vw;
    }
}