.services {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.swiper-service {
    /* border: 1px solid green; */
    width: 90vw;
    height: 380px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width : 1200px) {
    .swiper-service {
        width: 73.5vw;
    }
}

.swipe-me {
    /* border: 1px solid black; */
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
    padding: 1.2rem 1.4rem 0;
}

.serv1 {
    background-image: url(../../../../public/images/bgs/bg-1.jpg);
}

.serv2 {
    background-image: url(../../../../public/images/bgs/bg2.png);
}

.serv3 {
    background-image: url(../../../../public/images/bgs/bg3.png);
}

.serv {
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    padding: 2rem 2rem 7rem;
    overflow: hidden;
}

.serv .fa-caret-up {
    color: #DA251C;
    font-size: 27px;
}

.serv_h3 {
    font-weight: 610;
    font-size: 16px;
}

.serv p {
    /* border: 1px solid black; */
    font-size: 14px;
    line-height: 1.6;
    margin-top: 10px;
}
